language:
  - objective-c

osx_image: xcode9

before_script:
    # Make log level less verbose. Temporarily undo if more info is needed
    - sudo log config --mode "level:default" --subsystem com.abbey-code.UnzipKit

matrix:
  include:
    - stage: Test
      script: travis_wait 20 xcodebuild -workspace UnzipKit.xcworkspace -scheme UnzipKit -sdk macosx -configuration Release test -only-testing:UnzipKitTests/ExtractFilesTests/testExtractZip64_LargeFile ENABLE_NS_ASSERTIONS=1
      env: Name=Mac-Tests-Zip64Large

    - stage: Test
      script: travis_wait 30 xcodebuild -workspace UnzipKit.xcworkspace -scheme UnzipKit -sdk macosx -configuration Release test -only-testing:UnzipKitTests/ExtractFilesTests/testExtractZip64_ManyFiles ENABLE_NS_ASSERTIONS=1
      env: Name=Mac-Tests-Zip64Many

    - stage: Test
      # The CLANG arguments and find command fail the build on analyzer errors
      script: xcodebuild -workspace UnzipKit.xcworkspace -scheme UnzipKit -sdk macosx -configuration Release analyze test -skip-testing:UnzipKitTests/ExtractFilesTests/testExtractZip64_LargeFile -skip-testing:UnzipKitTests/ExtractFilesTests/testExtractZip64_ManyFiles ENABLE_NS_ASSERTIONS=1 CLANG_ANALYZER_OUTPUT=html CLANG_ANALYZER_OUTPUT_DIR=analyzer-output && [[ -z `find analyzer-output -name "*.html"` ]]
      env: Name=Mac

    - stage: Test
      # The CLANG arguments and find command fail the build on analyzer errors
      script: xcodebuild -workspace UnzipKit.xcworkspace -scheme UnzipKit -destination 'platform=iOS Simulator,name=iPhone 7,OS=latest' -configuration Release analyze test ENABLE_NS_ASSERTIONS=1 CLANG_ANALYZER_OUTPUT=html CLANG_ANALYZER_OUTPUT_DIR=analyzer-output && [[ -z `find analyzer-output -name "*.html"` ]]
      env: Name=iOS

    - stage: Test
      # The CLANG arguments and find command fail the build on analyzer errors
      script: ./Scripts/install-demo-libs.sh && xcodebuild -workspace UnzipKitDemo/UnzipKitDemo.xcworkspace -scheme UnzipKitDemo -sdk iphonesimulator -configuration Release analyze CLANG_ANALYZER_OUTPUT=html CLANG_ANALYZER_OUTPUT_DIR=analyzer-output && [[ -z `find analyzer-output -name "*.html"` ]]
      env: Name=DemoAppBuild

    - stage: Validate
      script: ./Scripts/cocoapod-validate.sh
      env: Name=CocoaPods

    - stage: Validate
      script: ./Scripts/carthage-validate.sh
      env: Name=Carthage

    - stage: Release
      script: ./Scripts/push-output.sh

# Turn on Docker, container-based infrastructure
sudo: false
