language:
  - objective-c

osx_image: xcode7.3

matrix:
  include:
    - script: xctool -workspace UnzipKit.xcworkspace -scheme UnzipKit -sdk macosx -configuration Release analyze test -omit UnzipKitTests:ExtractFilesTests/testExtractZip64_LargeFile,ExtractFilesTests/testExtractZip64_ManyFiles ENABLE_NS_ASSERTIONS=1
      env: Name=Mac

    - script: xctool -workspace UnzipKit.xcworkspace -scheme UnzipKit-iOS -sdk iphonesimulator -configuration Release analyze test ENABLE_NS_ASSERTIONS=1
      env: Name=iOS

    - script: ./Scripts/install-demo-libs.sh && xctool -workspace UnzipKitDemo/UnzipKitDemo.xcworkspace -scheme UnzipKitDemo -sdk iphonesimulator -configuration Release analyze
      env: Name=DemoAppBuild

    - script: ./Scripts/cocoapod-validate.sh
      env: Name=CocoaPods

    - script: ./Scripts/carthage-validate.sh
      env: Name=Carthage

    - script: travis_wait 20 xctool -workspace UnzipKit.xcworkspace -scheme UnzipKit -sdk macosx -configuration Release test -only UnzipKitTests:ExtractFilesTests/testExtractZip64_LargeFile ENABLE_NS_ASSERTIONS=1
      env: Name=Mac-Tests-Zip64Large

    - script: travis_wait 30 xctool -workspace UnzipKit.xcworkspace -scheme UnzipKit -sdk macosx -configuration Release test -only UnzipKitTests:ExtractFilesTests/testExtractZip64_ManyFiles ENABLE_NS_ASSERTIONS=1
      env: Name=Mac-Tests-Zip64Many

after_script:
  - ./Scripts/push-output.sh

# Turn on Docker, container-based infrastructure
sudo: false
